// Variables

// Grays
// --------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;

// Site Colors
// --------------------------
$primaryColor: #ccc;
$secondaryColor: #f2f2f2;
$defaultLinkColor: #444;

// Paths
// --------------------------
$imgsPath: "/images";
$fontsPath: "/fonts";

// Typography
// --------------------------
$sansFontFamily:     "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:    Georgia, "Times New Roman", Times, serif;
$monoFontFamily:     Monaco, Menlo, Consolas, "Courier New", monospace;
$altFontFamily:      $serifFontFamily;

$baseFontSize:       14px;
$baseFontFamily:     $sansFontFamily;
$baseLineHeight:     20px;

$headingsFontFamily: sans-serif;
$headingsFontWeight: 700;
