// Typography Variables & Mixins
// --------------------------------------------------

// Fonts
// --------------------------
$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Georgia, "Times New Roman", Times, serif;
$font-mono: Monaco, Menlo, Consolas, "Courier New", monospace;
$font-default: $font-sans;
$font-headings: sans-serif;
$font-icons: "icons";

// Font Family Mixins
// (N = normal | I = italic | 4 = normal font-weight | 7 = bold font-weight)
// --------------------------
@mixin font-sansN4() {
  font-family: $font-sans;
  font-weight: 400;
}

// Defaults
// --------------------------
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  line-height: 1;
  text-rendering: optimizelegibility;
}
h1, h2, h3 { line-height: 40px; }
h4, h5, h6 { line-height: 20px; }
h1 { @include rem('size', 36) }
h2 { @include rem('size', 30) }
h3 { @include rem('size', 24) }
h4 { @include rem('size', 18) }
h5 { @include rem('size', 14) }
h6 { @include rem('size', 12) }

// Links
// --------------------------
a, a:visited {
  color: $color-defaultLink;
  @include transition(color 0.25s ease);
}
a:hover {
  color: darken($color-defaultLink, 15%);
}
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

// Lists
// --------------------------
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd { margin: 0 0 0 40px; }
nav ul, nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}
.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.inline-list {
  @extend .unstyled;
  @include inline-block-list();
}

// Misc
// --------------------------
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q { quotes: none; }
q:before, q:after {
  content: "";
  content: none;
}

small { font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
