// Variables (<property>-<value>[--componentName])
// --------------------------------------------------

// Colors
// --------------------------
$color-black:            #000;
$color-white:            #fff;
$color-gray:             #555;
$color-grayDark:         #333;
$color-grayDarker:       #222;
$color-grayLight:        #999;
$color-grayLighter:      #eee;
$color-blue:             #15c;

// Site Colors
// --------------------------
$color-defaultLink:      $color-blue;

// Paths
// --------------------------
$path-images:            "/images";
$path-fonts:             "/css/fonts";
